* {
    margin: 0px;
    padding: 0px;
}

header {
    height: 45px;
    width: 100%;
}

header,
body {
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    background-color: #0096ac;
    color: #fff;
    text-align: center;
}

#container {
    width: 70%;
    margin: 0px auto;
    line-height: 30px;
    border: 1px solid gray;
}

nav {
    background-color: #0096ac;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid gray;
}

li a {
    color: black;
}

nav ul li {
    float: right;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}

.clearfix {
    clear: both;
}

#cuerpo,
aside {
    float: right;
    min-height: 500px;
    padding: 10px;
}

#cuerpo {
    width: 80%;
    background-color: aliceblue;
}

.article {
    color: #0096ac;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}

article:first-child {
    border-top: 1px solid gray;
}

article:last-child {
    margin-bottom: 0px;
}

article h2{
    font-size: large;
}

article p{
    font-size: small;
}

aside {
    background-color: aqua;
    width: 20%;
}

footer {
    background-color: #0096ac;
    color: white;
    text-align: center;
    height: 20px;
    line-height: 20px;
    margin-top: auto;
}