test.php



INSERT INTO medicines (codigo,nombre) VALUES 
('ALPRAZOLAM 0.25 MG'),
('ALPRAZOLAM 0.5 MG'),
('ALPRAZOLAM 0.75 MG'),
('ALPRAZOLAM 1 MG'),
('BROMAZEPAM 3 MG'),
('BROMAZEPAM 6 MG'),
('CLOBAZAM 10 MG'),
('CLOBAZAM 20 MG'),
('CLONAZAPEM 0.5 MG'),
('CLONAZAPEM 2 MG'),
('CLONAZAPEM 2.5 MG 20 ML'),
('CLONAZAPEM 2.5 MG 30 ML'),
('CLOZAPINA 100 MG'),
('CLOZAPINA 25 MG'),
('DIAZEPAM 10 MG - 2 ML'),
('FENOBARBITAL 100 MG'),
('FENTANILO CITRATO 0.5 - 10 ML'),
('LISDEXANFETAMINA 30 MG'),
('LISDEXANFETAMINA 50 MG'),
('LISDEXANFETAMINA 70 MG'),
('LORAZEPAM 1 MG'),
('LORAZEPAM 2 MG'),
('METADONA CLORHIDRATO 10 MG'),
('METADONA CLORHIDRATO 40 MG'),
('METILFENIDATO 10 MG'),
('METILFENIDATO 18 MG'),
('METILFENIDATO 36 MG'),
('MEXAZOLAM 1 MG'),
('MIDAZOLAM CLORHIDRATO 15 MG - 3 ML'),
('MIDAZOLAM CLORHIDRATO 5 MG - 5 ML'),
('MORFINA CLORHIDRATO 10 MG - ML'),
('ZOLPIDEM TARTRATO 10 MG');